@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background-color: rgb(13, 13, 13);
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: blue;
}

.staff, .manager {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.staff div div, .manager div div{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.left {
    display: inline-block;
    text-align: right;
    width: 35%;
    padding-right: 10px;
}

.right {
    display: inline-block;
    text-align: left;
    width: 65%;
}